@charset "UTF-8";
body{
    background-color: #fee;
}
h1{
    color: #0bd;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #faa;
}
h2{
    color: lime;    
}
p{
    font-size: 20px;
    color:rgba(10, 130, 165, .5);
}